<!DOCTYPE html>
<html lang="en">

  <%- include("./header.ejs");%>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<body>

        <%- include("./label.ejs");%>
        <%- include("./nav.ejs");%>

    <!-- <h1>Inspiration Page</h1> -->
    <div class="container">    
            <div class="row">
              <div class="col-sm-42">
                <div class="panel panel-primary">
                <div class="panel-heading">Entrepreneurial</div>
                
                  <div class="specialQuoteText panel-body2" id="randomentrepreneur">


                  </div>
                  <br>
                  
                  <br>

                <button class="submitbtn" type="submit" style="float:right">
                  <div class="panel-footer2">Generate my fire caption!</div>

                </button>
                </div>
              </div>
            </div> 
    </div>   
    <h3>Copy/Paste into your social media or Post directly</h3>
   <div class="socialmedia">
        <a href="https://www.facebook.com/" class="fa fa-facebook"></a>
        <a href="https://twitter.com/" class="fa fa-twitter"></a>
        <a href="https://www.instagram.com/" class="fa fa-instagram"></a>
        
   </div>


<!-- <script src="/publics/functionality.js"></script> -->
<%- include("./footer.ejs");%>


</body>
</html>