<!DOCTYPE html>
<html lang="en">





<footer class="container-fluid text-center">
  
    <form class="form-inline">Get alerted of the top captions:
      <input id="removeE" type="email" class="form-control" size="50" placeholder="Email Address">
      <div class="removeEmail"><button id="submitEmail" type="button" class="btn btn-danger">I Want!</button></div>
    </form>
    <br>
    <p>Capxion @2019 Copyright</p>  
  </footer>
  <script src="/js/functionality.js"></script>
  </html>